#logos2 {
  float: left; 
  width: 900;
  padding-left: 25px;
  margin-left: 25px; 
  margin-top: 20px;
  text-align: center;
}

#logos2 a {
  margin-left: 0px; 
}


P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #C40000;
}

A:hover {
	COLOR: Purple;
	TEXT-DECORATION: none
}
A:active {
	COLOR: Purple;
	TEXT-DECORATION: none
}

a:stlink {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.whitelink {
	COLOR: #ffffff
}
.whitelink:link {
	COLOR: #ffffff
}
.whitelink:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whitelink:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whitelink:visited {
	COLOR: #ffffff
}
p.F10Black {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F18Black {
	FONT-SIZE: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F16Blue {
	COLOR: #0000ff; FONT-SIZE: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F14Blue {
	COLOR: #0000ff; FONT-SIZE: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F20Red {
	COLOR: #ff0000; FONT-SIZE: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F16Red {
	COLOR: #ff0000; FONT-SIZE: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F24Red {
	COLOR: #ff0000; FONT-SIZE: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F12Red {
	COLOR: #ff0000; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F10White {
	COLOR: #ffffff; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
p.F20White {
	COLOR: #ffffff; FONT-SIZE: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}