section.header{
  height: 200px;
  margin-top: 70px;
}

h3.subheading{
  margin-top: 0;
}

.image-and-excerpt-loop-b .name                             { background-color: #ff6b12; font-weight: 400; color: #FFF; font-size: 24px; padding-top: 12px; padding-right: 12px; padding-bottom: 0px; padding-left: 12px; margin: 0px; }
.image-and-excerpt-loop-b .name span                        { font-weight: 300!important; font-size: 18px; }
.image-and-excerpt-loop-b .team-social-icons                { padding-top: 0px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.image-and-excerpt-loop-b .team-social-icons img:hover      { opacity: 0.8; -moz-opacity: 0.8; -webkit-opacity: 0.8; -khtml-opacity: 0.8; }
.image-and-excerpt-loop-b .description                      { padding-top: 10px; padding-bottom: 10px; float: left; }

#top-nav.not-front-page {
	padding-top: 25px;
}

#logo{
	margin-bottom: 0;
}

.navbar.not-front-page{
	background: rgba(0, 0, 0, 1);
	#logo{
		padding-bottom: 0 !important;
	}
}

.navbar .current-menu-item {
	color: #fff;
	background-color: rgba(255, 107, 18, 0.7);
}

.allcaps{
	text-transform: uppercase;
}

body{
	background-color: black;
}

section.subpage-header{
	margin-top: 0;
	margin-bottom: 150px;
	.bg-blue{
		margin-top: 170px;
		padding-top: 17px!important;
	}
}
